[Desktop Entry]
Exec=smtube
Comment=Search and download videos from YouTube
Comment[es]=Permite realizar búsquedas y descargar vídeos de YouTube
Comment[ja]=YouTube からビデオを検索およびダウンロードします
Comment[pt]=Procurar e transferir vídeos do YouTube
Comment[eu]=YouTubeko bideoak bilatzea eta jeistea ahalbidetzen du
GenericName=Youtube Browser
GenericName[es]=Buscar vídeos en YouTube
GenericName[ja]=YouTube ブラウザー
GenericName[pt]=Explorador YouTube
GenericName[eu]=Bilatu bideoak YouTuben
Icon=smtube
Name=SMPlayer YouTube Browser
Name[ja]=SMPlayer - YouTube ブラウザー
Name[pt]=SMPlayer - Explorador YouTube
Name[eu]=SMPlayer - YouTube Bilatzailea
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
