Source: smtube
Section: graphics
Priority: extra
Maintainer: Ricardo Villalba <ricardo@smplayer.info>
Standards-Version: 3.9.7
Homepage: http://smtube.sourceforge.net/
Build-Depends: debhelper (>= 9), libqt4-dev, libqtwebkit-dev
#Build-Depends: debhelper (>= 9), qtbase5-dev, qt5-qmake, qtscript5-dev, qttools5-dev-tools, qt5-default, libqt5webkit5-dev

Package: smtube
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, smplayer (>= 0.7.0) | mplayer | mpv | vlc | dragonplayer | totem | gnome-mplayer
Description: YouTube browser for SMPlayer
 This is a YouTube browser for SMPlayer. You can browse, search
 and play YouTube videos.
