Source: smtube
Section: graphics
Priority: extra
Maintainer: Ricardo Villalba <rvm@users.sourceforge.net>
Build-Depends:
 debhelper (>= 5.0.0),
 qtbase5-dev (>= 5.4) | libqt4-dev,
 qt5-qmake (>= 5.4) | libqt4-dev,
 qtscript5-dev (>= 5.4) | libqt4-dev,
 qttools5-dev-tools (>= 5.4) | libqt4-dev,
 qt5-default (>= 5.4) | libqt4-dev,
 libqt5webkit5-dev (>= 5.4) | libqtwebkit-dev
Standards-Version: 3.9.2
Homepage: http://smtube.sourceforge.net/

Package: smtube
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, smplayer (>= 0.7.0) | mplayer | mpv | vlc | dragonplayer | totem | gnome-mplayer
Description: YouTube browser for SMPlayer
 This is a YouTube browser for SMPlayer. You can browse, search
 and play YouTube videos.
